In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_Facebook.csv',delimiter=';')

In [3]:
df.describe

<bound method NDFrame.describe of     Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0    139441,Photo,2,12,4,3,0,2752,5091,178,109,159,...
1    139441,Status,2,12,3,10,0,10460,19057,1457,136...
2    139441,Photo,3,12,3,3,0,2413,4373,177,113,154,...
3    139441,Photo,2,12,2,10,1,50128,87991,2211,790,...
4    139441,Photo,2,12,2,3,0,7244,13594,671,410,580...
..                                                 ...
495  85093,Photo,3,1,7,2,0,4684,7536,733,708,985,47...
496  81370,Photo,2,1,5,8,0,3480,6229,537,508,687,39...
497  81370,Photo,1,1,5,2,0,3778,7216,625,572,795,47...
498  81370,Photo,3,1,4,11,0,4156,7564,626,574,832,4...
499  81370,Photo,2,1,4,4,,4188,7292,564,524,743,386...

[500 rows x 1 columns]>

In [4]:
df.describe()

       Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count                                                 500
unique                                                500
top     139441,Photo,2,12,4,3,0,2752,5091,178,109,159,...
freq                                                    1

In [5]:
df.shape

(500, 1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                             --------------  -----
 0   Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions  500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

In [7]:
df.columns

Index(['Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions'], dtype='object')

In [8]:
df.head(10)

  Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0  139441,Photo,2,12,4,3,0,2752,5091,178,109,159,...
1  139441,Status,2,12,3,10,0,10460,19057,1457,136...
2  139441,Photo,3,12,3,3,0,2413,4373,177,113,154,...
3  139441,Photo,2,12,2,10,1,50128,87991,2211,790,...
4  139441,Photo,2,12,2,3,0,7244,13594,671,410,580...
5  139441,Status,2,12,1,9,0,10472,20849,1191,1073...
6  139441,Photo,3,12,1,3,1,11692,19479,481,265,36...
7  139441,Photo,3,12,7,9,1,13720,24137,537,232,30...
8  139441,Status,2,12,7,3,0,11844,22538,1530,1407...
9  139441,Photo,3,12,6,10,0,4694,8668,280,183,250...

In [9]:
subset1=df[10:40]

In [10]:
subset1

   Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
10  139441,Status,2,12,5,10,0,21744,42334,4258,410...
11  139441,Photo,2,12,5,10,0,3112,5590,208,127,145...
12  139441,Photo,2,12,5,10,0,2847,5133,193,115,133...
13  139441,Photo,2,12,5,3,0,2549,4896,249,134,168,...
14  138414,Photo,2,12,4,5,1,22784,39941,887,337,41...
15  138414,Status,2,12,3,10,0,10060,19680,1264,120...
16  138414,Photo,3,12,3,3,0,1722,2981,163,123,148,...
17  138414,Photo,1,12,2,12,1,53264,111785,1706,110...
18  138414,Status,3,12,2,3,0,3930,7509,130,86,112,...
19  138414,Photo,3,12,1,11,0,1591,2825,121,88,111,...
20  138414,Photo,2,12,1,3,0,2848,5066,200,142,184,...
21  138414,Photo,1,12,7,10,0,1384,2467,15,15,20,21...
22  138414,Link,1,12,7,10,0,3454,6853,118,104,130,...
23  138414,Photo,3,12,7,3,0,2723,4888,176,118,143,...
24  138414,Status,2,12,6,10,0,8488,15294,1341,1270...
25  138458,Status,2,12,6,3,0,8284,15104,1521,1462,...
26  138458,Status,2,12,5,11,0,19552,34143,2806,253...
27  138458,Photo,3,12,5,3,0,2478,4306,212,124,149,...
28  138895,Photo,2,12,5,3,0,9560,18264,973,559,885...
29  138895,Video,1,12,4,11,1,36208,61262,1141,1068...
30  138895,Photo,2,12,4,2,0,4940,9390,385,306,501,...
31  138895,Photo,2,12,3,10,0,1683,2929,192,171,221...
32  138895,Photo,3,12,3,3,0,5280,9578,368,237,345,...
33  138895,Photo,3,12,2,9,0,3002,5318,268,185,247,...
34  138895,Photo,1,12,2,3,0,3766,7149,298,260,431,...
35  138895,Photo,2,12,1,11,0,4512,7808,423,284,431...
36  138895,Photo,3,12,1,3,0,2690,4628,252,168,226,...
37  138895,Photo,1,12,7,10,1,19800,28663,479,424,8...
38  138895,Status,2,12,7,9,0,17576,33058,5352,5202...
39  138895,Photo,1,12,7,3,0,3290,6085,306,284,402,...