In [1]:
"""sqllite is lightweighted in memory database which holds small dataase
it cant hold huge data. useful for mobile """

'sqllite is lightweighted in memory database which holds small dataase\nit cant hold huge data. useful for mobile '

In [1]:
import sqlite3

In [4]:
db=sqlite3.connect("company_database1.db")

In [5]:
c=db.cursor() # initialize cursor/pointer

In [6]:
c.execute('create table company1(id int,name text, age int,addr text,salary real)')

In [7]:
c.execute("insert into company1 values(1,'varsha',40,'gv7',90000)")

In [12]:
c.execute("insert into company1 values(21,'sdd',42,'gv7',80000)")
c.execute("insert into company1 values(1,'sgd',41,'pune',85000)")
c.execute("insert into company1 values(2,'htfd',23,'sangli',83000)")
c.execute("insert into company1 values(3,'hhd',27,'mumbai',100000)")
c.execute("insert into company1 values(4,'dfgf',28,'ashta',18000)")
c.execute("insert into company1 values(5,'bb',32,'blore',90000)")
c.execute("insert into company1 values(6,'nnsdd',40,'usa',89000)")
c.execute("insert into company1 values(8,'mmsdd',30,'vg7',88000)")
c.execute("insert into company1 values(9,'vvsdd',40,'dfdgv7',150000)")

In [13]:
data=c.execute('select * from company1')

In [14]:
for i in data:
    print(i)

(1, 'varsha', 40, 'gv7', 90000.0)
(21, 'sdd', 40, 'gv7', 80000.0)
(21, 'sdd', 42, 'gv7', 80000.0)
(1, 'sgd', 41, 'pune', 85000.0)
(2, 'htfd', 23, 'sangli', 83000.0)
(3, 'hhd', 27, 'mumbai', 100000.0)
(4, 'dfgf', 28, 'ashta', 18000.0)
(5, 'bb', 32, 'blore', 90000.0)
(6, 'nnsdd', 40, 'usa', 89000.0)
(8, 'mmsdd', 30, 'vg7', 88000.0)
(9, 'vvsdd', 40, 'dfdgv7', 150000.0)

In [11]:
db.commit()

In [17]:
data=db.execute('select  * from company1 where salary >90000')

In [18]:
for i in data:
    print(i)

(3, 'hhd', 27, 'mumbai', 100000.0)
(9, 'vvsdd', 40, 'dfdgv7', 150000.0)

In [19]:
data=db.execute("select  name from company1 where addr='pune'")

In [20]:
for i in data:
    print(i)

('sgd',)

In [27]:
data=db.execute("select  id ,name,age from company1 order by age desc")

In [28]:
for i in data:
    print(i)

(21, 'sdd', 42)
(1, 'sgd', 41)
(1, 'varsha', 40)
(21, 'sdd', 40)
(6, 'nnsdd', 40)
(9, 'vvsdd', 40)
(5, 'bb', 32)
(8, 'mmsdd', 30)
(4, 'dfgf', 28)
(3, 'hhd', 27)
(2, 'htfd', 23)

In [3]:
db1=sqlite3.connect("sampledb.db")

In [4]:
c=db1.cursor()

In [5]:
c.execute('create table studentdetails(rollno int,name varchar2(5),class char)')

In [8]:
c.execute('insert into studentdetails values(1,"asd","TE")')

In [9]:
c.execute('insert into studentdetails values(2,"zxc","TE")')

In [10]:
c.execute('insert into studentdetails values(3,"pqr","TE")')

In [11]:
c.execute('insert into studentdetails values(14,"asgd","TE")')

In [13]:
data=c.execute('select * from studentdetails LIMIT 2')

In [14]:
for i in data:
    print(i)

(1, 'asd', 'TE')
(2, 'zxc', 'TE')